*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#bg_body {
    background-color: brown;
}

.bg_light{
    background-color: white;
}

h1 {
    color: white;
}

.passeggero,
.offerta,
.biglietto{
    background-color: white;
}

input {
    border-color: red;
}

.border_tb{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}